

.social-icon {
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(130, 130, 130);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-3px);
    background: rgba(0,161,224,255);
}

.footer-link {
    color: rgb(96, 96, 96);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #000000;
}

.newsletter-input {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
}

.newsletter-input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.newsletter-input:focus {
    background: rgb(255, 255, 255);
    border-color: rgba(145, 145, 145, 0.3);
    color: rgb(0, 0, 0);
    box-shadow: none;
}

.gradient-footer {
    /* background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%); */
    background-image: url('./src/assets/headerBG.png');
 
}