@tailwind base;
@tailwind components;
@tailwind utilities;
import 'react-toastify/dist/ReactToastify.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}